.flex{
    flex-direction: column;

}

.input{
    width: 305px;
    background-color:#d6d6d6;
    font-size: 16px;
    line-height: 20px;
}

.description{
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    letter-spacing: .05em;
    margin-top: 30px;
    margin-bottom: 30px;
}

