.form_body{
    width: 305px;
}

.button{
    border-radius: 25px;
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
    border: 0;
    width: 100%;
    font-family: Geometria,sans-serif;
    padding: 0 12px;
    max-width: 305px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 20px;
    color: #fff;
    cursor: pointer;
}

.blue_button{
    background: #3c8dbc;
}

.button_red {
    background: #dd4b39;
}

.disabled{
    background-color: #d6d6d6;
}

.save_change{
    background-color: green;
}
