@font-face {
  font-family: "Geometria";
  src: local('Geometria'), url("fonts/Geometria/Geometria.woff");
  src: local('Geometria'), url("fonts/Geometria/Geometria-Bold.woff");
  src: local('Geometria'), url("fonts/Geometria/Geometria-Medium.woff");
}
*{
  font-family: Geometria,sans-serif;
}
.App {
  font-style: normal;
  font-size: 20px;
  line-height: 25px;
  font-weight: 200;
  text-align: center;
  position: relative;
  background-color: #efefef;
  color: #000;
  min-height: 100vh;
  box-sizing: border-box;
}

