.description{
    font-size: 20px;
    line-height: 25px;
    margin-top: 34px;
    margin-bottom: 30px;
    font-weight: 400;
}


.secRegister{
    width: 305px;
}

.form_body{
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.form__item {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    width: 100%;
    margin-bottom: 18px;
    font-weight: 400;

}

input::-webkit-calendar-picker-indicator {
    opacity: 0;
}


.input_data{
    position: relative;
    border: 1px solid rgba(0,0,0,.35);
    border-radius: 5px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    transition: .5s;
    background-color: #fff;
    max-width: 305px;
    height: 44px;
    padding: 2px 9px;
}

.input_icons{
    position: absolute;
    width: 25px;
    right: 20px;
    top: 12px;
    pointer-events: none;
}

.submitButton{
    margin-top: 20px;
    max-width: 286px;
    height: 65px;
    border-radius: 30px;
    font-size: 22px;
    line-height: 27px;
    cursor: pointer;
    background: #3cad50;
    color: #fff;
    border: 0;
    width: 100%;
    font-family: Geometria,sans-serif;
    padding: 0 12px;
}

.submitButtonError{
    background-color: cadetblue;
}

.submitButton:hover{
    opacity: .8;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    transition: .5s ease-out;
}

.data_picker{
    width: 285px;
}

.formik_errors{
    color: red;
    font-size: 15px;
}
